
/* common or utilites */



.bg-img-1{
    background-image: url(images/Slider/01.jpg);
}
.bg-img-2{
    background-image: url(images/Slider/02.jpg);
}
.bg-img-3{
    background-image: url(images/Slider/03.jpg);
}
.carousel-image{
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
/*....................
     For mobile device 
....................*/
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }





/* tablet device */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .courses {
        grid-template-columns: repeat(1, 1fr);
        background-color: yellowgreen;
    }

}

