@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.deals-rating {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.list-grop {
    display: grid;
    grid-template-columns: 6, 1fr;
    text-decoration: none;

}

@media only screen and (max-width:688px) {

    .course,
    .register {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        display: none;
    }

    .container {
        width: 100%;
    }

    .deals-rating {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .footer {
        display: none;
    }

    .course,
    .register {
        grid-template-columns: repeat(1, 1fr);
    }

    .deals-rating {
        grid-template-columns: repeat(2, 1fr);
    }
}